# Dependencies
node_modules/

# Build output
.gradle/
build/
!**/src/test/**/build/
!**/src/main/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Environment
.env

# Logs
*.log

# Editors - IntelliJ IDEA
.idea/*
apps/api/.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
